@{
    ViewBag.Title = "Gallery";
}

<h1>@ViewBag.Title</h1>
<hr>

<div class="grid">
    <div class="column">
        <img src="~/Content/Photos/photo1.png">
        <img src="~/Content/Photos/photo2.png">
        <img src="~/Content/Photos/photo3.png">
        <img src="~/Content/Photos/photo4.png">
        <img src="~/Content/Photos/photo5.png">
        <img src="~/Content/Photos/photo6.png">
    </div>
    <div class="column">
        <img src="~/Content/Photos/photo2.png">
        <img src="~/Content/Photos/photo1.png">
        <img src="~/Content/Photos/photo6.png">
        <img src="~/Content/Photos/photo5.png">
        <img src="~/Content/Photos/photo4.png">
        <img src="~/Content/Photos/photo3.png">
    </div>
    <div class="column">
        <img src="~/Content/Photos/photo2.png">
        <img src="~/Content/Photos/photo1.png">
        <img src="~/Content/Photos/photo4.png">
        <img src="~/Content/Photos/photo5.png">
        <img src="~/Content/Photos/photo3.png">
        <img src="~/Content/Photos/photo6.png">
    </div>
    <div class="column">
        <img src="~/Content/Photos/photo6.png">
        <img src="~/Content/Photos/photo4.png">
        <img src="~/Content/Photos/photo5.png">
        <img src="~/Content/Photos/photo3.png">
        <img src="~/Content/Photos/photo2.png">
        <img src="~/Content/Photos/photo1.png">
    </div>
</div>