@{
    ViewBag.Title = "Home Page";
}


<h1>Stefani's website</h1>
<h2>A course project for CITB517/CITB537</h2>
<hr />

<div class="grid" >
    <div class="columnHome">
        <img src="~/Content/Photos/photo1.png">
    </div>    

    <text class="columnHome" style="word-break:keep-all">
        "Three Rings for the Elven-kings under the sky, <br>
        Seven for the Dwarf-lords in their halls of stone, <br>
        Nine for Mortal Men doomed to die,             <br>
        One for the Dark Lord on his dark throne"      <br>
        In the Land of Mordor where the Shadows lie.  <br>
        One Ring to rule them all, One Ring to find them, <br>
        One Ring to bring them all and in the darknessbind them  <br>
        In the Land of Mordor where the Shadows lie. " <br>
    </text>
    
    <div class="columnHome">
        <img src="~/Content/Photos/photo1.png">
    </div>


</div>

<hr />

<div class="row">
    <div class="col-md-4">
    <a href="../Home/Gallery" class="btn">Go to gallery</a>
     <a href="../Guestbook" class="btn">Go to guestbook</a>
    </div>
</div>

<img class="imgHome" src="~/Content/Photos/photo1.png" >
